.line-item-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Adjust the spacing between input boxes */
}

.line-item-total {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between total input and delete button */
}

.line-item-total-content {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between total input and delete button */
  flex: 1;
}

.line-item-total input {
  flex: 1;
}

.dynamic-delete-button {
  cursor: pointer;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.ant-form-item {
  margin-bottom: 0;
}
