<ng-container [formGroup]="parentFormGroup">
  <nz-form-array formArrayName="lineItems">
    <nz-form-item
      *ngFor="let lineItem of lineItems.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="line-item-row">
        <nz-form-control [nzXs]="24" [nzSm]="6">
          <nz-form-label nzFor="item{{ i }}">Item</nz-form-label>
          <nz-select
            formControlName="item"
            (ngModelChange)="onItemChange(i, $event)"
            id="item{{ i }}"
          >
            <nz-option
              *ngFor="let item of itemsList"
              [nzValue]="item.itemId"
              [nzLabel]="item.name"
            ></nz-option>
          </nz-select>
        </nz-form-control>

        <nz-form-control [nzXs]="24" [nzSm]="6">
          <nz-form-label nzFor="description{{ i }}">Description</nz-form-label>
          <input
            nz-input
            placeholder="Description"
            formControlName="description"
            id="description{{ i }}"
          />
        </nz-form-control>

        <nz-form-control [nzXs]="24" [nzSm]="4">
          <nz-form-label nzFor="quantity{{ i }}">Quantity</nz-form-label>
          <input
            nz-input
            type="number"
            formControlName="quantity"
            id="quantity{{ i }}"
            (ngModelChange)="calculateTotals()"
          />
        </nz-form-control>

        <nz-form-control [nzXs]="24" [nzSm]="4">
          <nz-form-label nzFor="price{{ i }}">Price</nz-form-label>
          <input
            nz-input
            type="number"
            formControlName="price"
            id="price{{ i }}"
            (ngModelChange)="calculateTotals()"
          />
        </nz-form-control>

        <nz-form-control [nzXs]="24" [nzSm]="4" class="line-item-total">
          <nz-form-label nzFor="total{{ i }}">Total</nz-form-label>
          <div class="line-item-total-content">
            <input
              nz-input
              type="number"
              formControlName="total"
              id="total{{ i }}"
              [attr.disabled]="true"
            />
            <span
              nz-icon
              nzType="minus-circle-o"
              class="dynamic-delete-button"
              (click)="removeLineItem(i)"
            ></span>
          </div>
        </nz-form-control>
      </div>
    </nz-form-item>
  </nz-form-array>
</ng-container>
