<div *ngIf="loading" class="spinner-container">
  <nz-spin nzSimple></nz-spin>
</div>

<div *ngIf="!loading">
  <nz-page-header
    nzTitle="Invoice details"
    nzSubtitle=""
    nzBackIcon
    [nzGhost]="false"
  >
    <nz-page-header-extra>
      <button nz-button nzType="primary" (click)="printInvoice(invoiceId)">
        Print
      </button>
      <button
        nz-button
        nzType="default"
        (click)="printInvoicePdf(invoiceId)"
        style="margin-left: 8px"
      >
        PDF
      </button>
      <button
        nz-button
        nzType="default"
        (click)="emailInvoicePdf(invoiceId)"
        style="margin-left: 8px"
      >
        Email
      </button>
    </nz-page-header-extra>
  </nz-page-header>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div class="form-row">
      <nz-row [nzGutter]="16" class="header">
        <!-- Customer Section -->
        <nz-col nzSpan="5">
          <nz-form-item>
            <nz-form-label nzFor="customerId">Customer</nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="customerId"
                nzPlaceHolder="Select Customer"
              >
                <nz-option
                  *ngFor="let customer of customersList"
                  [nzValue]="customer.customerId"
                  [nzLabel]="customer.name"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="1"></nz-col>
        <!-- Date Info Section -->
        <nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzFor="invoiceDate">Invoice Date</nz-form-label>
            <nz-form-control>
              <nz-date-picker formControlName="invoiceDate"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="6"></nz-col>
        <!-- User Section -->
        <nz-col nzSpan="4">
          <span>By: {{ currentUser }}</span>
        </nz-col>
      </nz-row>
    </div>

    <line-items-form
      [itemsList]="itemsList"
      (itemChanged)="onItemChange($event.index, $event.itemId)"
      (totalsChanged)="calculateTotals()"
      (itemRemoved)="removeLineItem($event)"
    ></line-items-form>

    <nz-form-item>
      <nz-form-control [nzXs]="24" [nzSm]="24">
        <button
          nz-button
          nzType="dashed"
          class="add-button full-width"
          (click)="addLineItem()"
        >
          <span nz-icon nzType="plus"></span>
          Add Line Item
        </button>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="right-align">
      <nz-form-control [nzXs]="24" [nzSm]="8">
        <nz-form-label>Sub Total</nz-form-label>
        <input
          nz-input
          [value]="validateForm.get('subTotal')?.value"
          disabled
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="right-align">
      <nz-form-label nzFor="vatId">VAT</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="8">
        <nz-select
          formControlName="vatId"
          (ngModelChange)="calculateVatAmount()"
        >
          <nz-option
            *ngFor="let vat of vatsList"
            [nzValue]="vat.vatId"
            [nzLabel]="vat.percentage + '%'"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="right-align">
      <nz-form-control [nzXs]="24" [nzSm]="8">
        <nz-form-label>Select Tax Value</nz-form-label>
        <input nz-input [value]="validateForm.get('tax')?.value" disabled />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="right-align">
      <nz-form-control [nzXs]="24" [nzSm]="8">
        <nz-form-label>Total</nz-form-label>
        <input nz-input [value]="validateForm.get('total')?.value" disabled />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzXs]="24" [nzSm]="8">
        <button nz-button nzType="primary" class="small-button">
          <span nz-icon nzType="edit"></span>Edit
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
