.right-align {
  display: flex;
  justify-content: flex-end;
}

.full-width {
  margin-top: 24px;
  width: 100%;
}

.small-button {
  width: auto;
}

.ant-form-item {
  margin-bottom: 0;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; // Adjust height as needed
  width: 100%;
}
