<nz-page-header
  class="site-page-header"
  (nzBack)="onBack()"
  nzBackIcon
  nzTitle="Add Item Group">
</nz-page-header>

<form nz-form [formGroup]="addGroupForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="titleErrorTpl">
      <input nz-input formControlName="title" placeholder="Enter group title" />
      <ng-template #titleErrorTpl let-control>
        <ng-container *ngIf="control.errors?.['required']">
          Please input the group title!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7">Description</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <textarea nz-input formControlName="description" rows="3" placeholder="Enter description"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Items</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="itemsErrorTpl">
      <nz-select
        formControlName="itemIds"
        nzMode="multiple"
        nzPlaceHolder="Select items"
        [nzLoading]="loadingItems"
      >
        <nz-option *ngFor="let item of listOfItems" [nzLabel]="item.name" [nzValue]="item.itemId"></nz-option>
      </nz-select>
      <ng-template #itemsErrorTpl let-control>
        <ng-container *ngIf="control.errors?.['required']">
          Please select at least one item!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!addGroupForm.valid"><span nz-icon nzType="plus"></span>Create</button>
      <button nz-button (click)="resetForm($event)">Reset</button>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-divider nzText="Selected Items"></nz-divider>

<app-group-item-list [items]="selectedItems"></app-group-item-list>

<item-selection-drawer [visible]="true"></item-selection-drawer>
